
#List {
  overflow: hidden;
}

#List >>> .el-table__body-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.el-table {
  margin: 20px 0 0 20px;
  padding-right: 30px;
  overflow-y: hidden;
}

@media screen and (max-device-width: 769px) {
  .el-table {
    margin: 0 0 0 0;
    padding-right: 0;
  }
}

.el-table::before {
  height: 0;
}

.el-table svg {
  font-size: 18px;
  margin-right: 15px;
}

#ListTable >>> .table-header-left {
  margin-left: 38px;
}

#ListTable >>> tr {
  cursor: pointer;
}

.el-scrollbar >>> .el-scrollbar__wrap {
  overflow-x: hidden !important;
}

/*视频弹窗样式 -- 去除内容边框*/
#videoDialog >>> .el-dialog__body {
  padding: 10px 0 0 0;
}

/* 弹窗标题居中, 高度减少 */
#List >>> .el-dialog__header {
  text-align: center;
  margin-bottom: -10px;
  padding: 5px 0 5px 0;
}

#videoDialog >>> .el-dialog__headerbtn {
  top: 10px;
}

#textDialog >>> .el-dialog {
  margin-bottom: 0;
}

.v-contextmenu-item >>> label {
  margin-left: 10px;
}

@media screen and (max-device-width: 1920px) {
  #videoDialog >>> .el-dialog {
    margin-top: 5vh !important;
    width: 70% !important;
  }
}

@media screen and (max-device-width: 769px) {
  #videoDialog >>> .el-dialog {
    margin-top: 10vh !important;
    width: 90% !important;
  }
}

.operator-btn {
  color: #1E9FFF;
  margin-right: 20px;
  font-size: 16px
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.back-to-ceiling {
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  line-height: 45px;
  background: #e7eaf1;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.back-to-ceiling:hover {
  background: #d5dbe7;
}

.back-to-ceiling .Icon {
  fill: #9aaabf;
  background: none;
}

.back-to-ceiling .Icon--backToTopArrow {
  height: 16px;
  width: 16px;
}


#List >>> .img-mode-img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#List >>> .el-table__header .cell i {
  margin-right: 5px;
}

.zfile-dialog-link-result-qrcode {
  text-align: center;
}

.zfile-dialog-link-result-info .el-form-item {
  margin-bottom: 10px;
}

#batchCopyLinkDialog >>> thead {
  cursor: pointer;
}
